<div class="centered-content">

<h2 class="text-center m-1">Summary</h2>
<div class="container">
  <table class="table m-2">
    <tr>
      <th>Name</th>
      <td>{{ order.customerName }}</td>
    </tr>
    <tr>
      <th>Address</th>
      <td>{{ order.address }}</td>
    </tr>
    <tr>
      <th>Products</th>
      <td>{{ order.cart.itemCount }}</td>
    </tr>
    <tr>
      <th>Total Price</th>
      <td>{{ order.cart.totalPrice | currency: 'ZAR': 'symbol' }}</td>
    </tr>
  </table>
  <div class="text-center pt-2">
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="m-1"
      (click)="navigateToStep1()"
    >
      Back
    </button>
    <button
      type="button"
      mat-raised-button
      color="warn"
      class="m-1"
      (click)="submitOrder()"
    >
      Place Order
    </button>
  </div>
</div>
</div>
